/*
  This defines the main container of the page.
*/
.mainContainer {
  background-color: rgba(0, 0, 0, 0.443);
  margin: 0;
  display: flex;
  height: 100vh;
  color: white;
}

/*
    Defines the flow of the containers containing the four displays 
    of data of the user and a table with data of the users. 
  */
.userMainContainer {
  height: 95vh;
  width: 78vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

/******************************************
    Defines the four info displays styles
  *******************************************/
.userInfoContainer {
  border-radius: 40px;
  height: 40vh;
  margin: 5px;
  padding-bottom: 33px;
  margin-bottom: 30px;
  display: flex;
}
