.mainContainer {
  background-color: rgba(0, 0, 0, 0.443);
  margin: 0;
  display: flex;
  height: 100vh;
  color: white;
}

.optionContainer {
  background-color: #5bbbffd3;
  border: 4px solid #0e286a;
  width: 280px;
  height: 780px;
  border-radius: 40px;
  padding: 20px;
  margin: 15px;
  margin-left: 20px;
  text-align: center;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.buttonOption {
  color: white;
  margin-top: 20px;
  height: 80px;
  background: none;
  border: none;
  font-size: 18px;
}

button:hover {
  border: 2px solid white;
}

hr {
  margin-top: 10px;
  color: white;
}

h2 {
  font-family: serif;
  font-weight: 400;
}

.userMainContainer {
  height: 95vh;
  width: 78vw;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.userInfoContainer {
  background-color: black;
  border-radius: 40px;
  height: 40vh;
  margin: 15px;
  padding: 10px;
  margin-bottom: 30px;
}

.userDataContainer {
  background-color: #5bbbffd3;
  height: 39.5vh;
  margin: 15px;
  margin-right: 20px;
  padding: 10px;
  padding-top: 20px;
  border-radius: 40px;
  border: 4px solid #0e286a;
}

table {
  border-collapse: collapse;
  font-family: serif;
  font-weight: 400;
  width: 70vw;
  margin-left: 40px;
}
th {
  border-bottom: 2px solid white;
  padding: 2px 100px 10px 10px;
  text-align: left;
}
td {
  padding: 2px 100px 10px 10px;
}

th:first-child {
  border-right: 2px solid white;
  padding: 2px 20px 10px 10px;
}

td:first-child {
  padding: 2px 20px 10px 10px;
  border: none;
  border-right: 2px solid white;
}
