/*
  Defines the styles for the container of the table for the 
  user data.
*/
.userDataContainer {
  background-color: #5bbbffd3;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 40px;
  border: 4px solid #0e286a;
}
